@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap");
/*variables*/
body {
  font-family: 'merriwheather';
  font-size: 1.5rem; }

/*header*/
.color {
  background-color: #E7CDBA; }

header h2 {
  color: #ffffff;
  font-style: italic;
  padding-left: 10px; }

/*main*/
.img-carrousel {
  height: 90vh;
  object-fit: cover; }

.btn-light {
  background-color: #c6a385;
  color: #ffffff;
  border-color: #E7CDBA;
  margin: 10px; }

li {
  list-style: none;
  text-decoration: none; }

.redes li {
  display: inline-block;
  margin: 10px; }
  .redes li a {
    color: #ffffff;
    font-size: 1.5rem; }

.border {
  border: #c6a385; }

.titulo {
  -webkit-animation: titulo 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: titulo 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes titulo {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; } }

@keyframes titulo {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; } }

/*contacto*/
.contacto {
  color: #c6a385;
  margin: 10px;
  font-size: 4rem; }
